<div class="todo-list">
  <div (click)="backToMainClicked()"  class="back_to_main">
    <mat-icon>arrow_back_ios_new</mat-icon>
  </div>
  <cw-up-down [week]="week"></cw-up-down>
  <todo-list-table-view></todo-list-table-view>
 
  <div class="error-message" *ngIf="errorMessage">
    {{ errorMessage }}
  </div>

  <!--
  <div class="task-input">

    <ion-input
       (keyup.enter)="addTask()" 
       label="Task" 
       placeholder="Description ..."
       [(ngModel)]="newTaskName" 
    ></ion-input>

    <ion-button (click)="addTask()">Add Task</ion-button>

  </div>


  <ion-list>
    <ion-item *ngFor="let task of tasks; let i = index">
      {{ task.name }} 
        <ion-button (click)="removeTask(i)">Delete</ion-button>
    </ion-item>
  </ion-list>-->
</div>
<div class="add_todo">
  <button (click)="showAddTodoDialog()" mat-fab>
    <mat-icon>add</mat-icon>
  </button>
</div>

