.title {
    color: rgb(255, 166, 0);
}

.subtitle {
    color:#d6d5d5
}

.back-button {
    position: absolute;
    bottom: 0;
    background-color: rgb(209, 138, 5);
    padding: 0.2rem 0.5rem;
    color: #ffffff; 
    left: 0;
    cursor: pointer;
    user-select: none;
}

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Adjust as needed */
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(62,62,62,1) 50%, rgba(0,0,0,1) 100%);
    font-family: 'Roboto';
}

.content {
    margin-top: 1.5em;
    margin-bottom: 1em;
    color: white;
}

.mat-card {
    max-width: 450px;
    margin-bottom: 8px;
}

.info_icon {
    color: white;
}
