<div class="card-container">
  <mat-card class="mat-card">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title class="title">{{appName}}</mat-card-title>
        <mat-card-subtitle>{{appSubtitle}} ({{appVersion}})</mat-card-subtitle>
        <mat-icon>information-circle-outline</mat-icon>
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content class="content">
      Just a small calendar app (yet another) which hopes to help
      you keeping track on your desired activities through out the year.
    </mat-card-content>

    <mat-card-actions>
      <button class="back-button" mat-fab><mat-icon (click)="backButtonClicked()">arrow_back_ios_new</mat-icon></button>
      
    </mat-card-actions>
  </mat-card>
</div>

