
<mat-tab-group class="my-tab-class">
  <!-- Tab A ALL Todos -->
  <mat-tab label="Tab A">
    <ng-template mat-tab-label>
      <div class="tab-label-container">
        <mat-icon class="tab-icon">list_alt</mat-icon>
        <span>ALL</span>
      </div>
    </ng-template>
    <div>
      <div *ngFor="let todo of todo_items">
          <todo-item [id]="todo.id" 
                     [title]="(todo.isDurationBased === 0) ? todo.name : parseActivityName(todo.activity)"
                     [isChecked]="todo.isDone" 
                     [hasTimeGoal]="(todo.isDurationBased===1) ? true : false"
                     [hoursTimeGoal]="todo.timegoalHours"
                     [minutesTimeGoal]="todo.timegoalMinutes"
                     [color]="todo.color"
                     (deleteItem)="onDeleteItem(todo.id)"  
                     (nameOfTodoChanged)="onNameOfTodoChanged($event)"
                     (statusOfTodoChanged)="onStatusOfTodoChanged($event)">
          </todo-item>
      </div>
    </div>
    <ng-template #loadingItems>Loading items...</ng-template>
  </mat-tab>


  <mat-tab label="Tab B">
    <ng-template mat-tab-label>
      <div class="tab-label-container">
        <mat-icon class="tab-icon">check_box_outline_blank</mat-icon>
        <span>OPEN</span>
      </div>
    </ng-template>
    <div *ngFor="let todo of todo_items">
        <div *ngIf="!todo.isDone">
          <todo-item [id]="todo.id" 
                     [title]="(todo.isDurationBased === 0) ? todo.name : parseActivityName(todo.activity)"
                     [isChecked]="todo.isDone" 
                     [hasTimeGoal]="(todo.isDurationBased===1) ? true : false"
                     [color]="todo.color"
                     (deleteItem)="onDeleteItem(todo.id)"  
                     (nameOfTodoChanged)="onNameOfTodoChanged($event)"
                     (statusOfTodoChanged)="onStatusOfTodoChanged($event)">
          </todo-item>
        </div>
    </div>
  </mat-tab>

  <!-- Tab C DONE Todos -->
  <mat-tab label="Tab C">
    <ng-template mat-tab-label>
      <div class="tab-label-container">
        <mat-icon class="tab-icon">check_box</mat-icon>
        <span>DONE</span>
      </div>
    </ng-template>
    <div *ngFor="let todo of todo_items">
      <div *ngIf="todo.isDone">
        <todo-item [id]="todo.id" 
                     [title]="(todo.isDurationBased === 0) ? todo.name : parseActivityName(todo.activity)"
                     [isChecked]="todo.isDone" 
                     [hasTimeGoal]="(todo.isDurationBased===1) ? true : false"
                     [color]="todo.color"
                     (deleteItem)="onDeleteItem(todo.id)"  
                     (nameOfTodoChanged)="onNameOfTodoChanged($event)"
                     (statusOfTodoChanged)="onStatusOfTodoChanged($event)">
          </todo-item>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>