
<mat-tab-group>
  <mat-tab label="Tab A">
    <ng-template mat-tab-label>
      <mat-icon>list_alt</mat-icon>
      ALL
    </ng-template>
    <div>
      <div *ngFor="let todo of todo_items">
          <todo-item [id]="todo.id" 
                     [title]="todo.name" 
                     [isChecked]="todo.isDone" 
                     (deleteItem)="onDeleteItem(todo.id)"  
                     (nameOfTodoChanged)="onNameOfTodoChanged($event)"
                     (statusOfTodoChanged)="onStatusOfTodoChanged($event)"></todo-item>
      </div>
    </div>
    <ng-template #loadingItems>Loading items...</ng-template>
  </mat-tab>

  <!-- Tab B -->
  <mat-tab label="Tab B">
    <ng-template mat-tab-label>
      <mat-icon>check_box_outline_blank</mat-icon>
      OPEN
    </ng-template>
    Content for Tab B
  </mat-tab>

  <!-- Tab C -->
  <mat-tab label="Tab C">
    <ng-template mat-tab-label>
      <mat-icon>check_box</mat-icon>
      DONE
    </ng-template>
    Content for Tab C
  </mat-tab>
</mat-tab-group>