.item-container {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
  }
  
  .checkbox {
    margin-right: 10px;
  }
  
  .circle-icon {
    width: 10px;
    height: 10px;
    border-radius: 50%;
  }
  
  .icon {
    cursor: pointer;
    margin-left: 10px;
  }

  .todo_input_field {
    margin-left: 1em;
    color: white;
    width: 18vw;
  }

  .icon {
    color: rgb(174, 174, 174);
  }