<div class="item-container">
  <mat-checkbox class="checkbox"></mat-checkbox>
  <div class="circle-icon mat-elevation-z2"></div>
  <div class="title">{{ title }}</div>

  <time-display
    [hours1]="elapsed_hours"
    [minutes1]="elapsed_minutes"
    [seconds1]="elapsed_seconds"
    [hours2]="goal_hours"
    [minutes2]="goal_minutes"
    [seconds2]="goal_seconds"
  ></time-display>

  <div class="icon-container">
    <mat-icon class="icon" (click)="play()">play_arrow</mat-icon>
    <mat-icon class="icon" (click)="edit()">edit</mat-icon>
    <mat-icon class="icon" (click)="delete()">delete</mat-icon>
  </div>

</div>