.item-container {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
  }
  
  .checkbox {
    margin-right: 10px;
  }
  
  .circle-icon {
    width: 20px;
    height: 20px;
    border-radius: 50%;
  }
  
  .title {
    flex-grow: 1;
  }

  .icon-container {
    display: flex;
    align-items: center;
  }
  
  .icon {
    cursor: pointer;
    margin-left: 10px;
  }

  .todo_input_field {
    min-width: 285px;
    margin-right: 1em;
    margin-left: 1em;
    color: white;
  }

  .icon {
    color: rgb(174, 174, 174);
  }