<div class="item-container">
  <mat-checkbox 
      class="checkbox" 
      (change)="onTodoChecked($event)"
      [checked]="isChecked"
  ></mat-checkbox>
 
  <div class="circle-icon mat-elevation-z2" [style.background-color]="color"></div>
  

  <form [formGroup]="reactiveForm">
        <input class="todo_input_field" matInput [value]="title" formControlName="userInput">
  </form>

  <time-display *ngIf="hasTimeGoal"
    [hours1]="elapsed_hours"
    [minutes1]="elapsed_minutes"
    [seconds1]="elapsed_seconds"
    [hours2]="goal_hours"
    [minutes2]="goal_minutes"
    [seconds2]="goal_seconds"
  ></time-display>

  <div class="icon-container">
    <mat-icon *ngIf="hasTimeGoal" class="icon" (click)="play()">{{ isTimeRunning ? 'stop' : 'play_arrow' }} </mat-icon>
    <mat-icon class="icon" (click)="edit()"> {{ isInputFieldDisabled ? 'edit' : 'save' }}</mat-icon>
    <mat-icon class="icon" (click)="delete()">delete</mat-icon>
  </div>

</div>