.time-container {
    display: flex;
    align-items: center;
    color: white;
    margin-left: 10px;
  }
  
  .time-segment {
    font-size: 12px;
    font-weight: bold;
  }
  
.separator {
  margin-top: -10px;
  margin-bottom: -10px;
  margin-left: 10px;
  color: white;
}
