.container {
  display: flex;
}

.left-column {
  display: flex;
  flex-direction: column;
}

.right-column {
  flex: 1;
  margin-top: 7px;
  margin-left: 10px;
}

.time-container {
    color: white;
    margin-left: 10px;

  }
  
.icon {
  color: rgb(174, 174, 174);
}
