.hexagon {
    width: 15.5vh;
    height:16.5vh;
    background-color: rgb(255, 166, 0);
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    margin: 0 2px;
    position: relative;
  }

  .hex-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 4vh;
    font-weight: 400;
    color: white;
    cursor: pointer;
    user-select: none;
  }

  .centered {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
    margin-top:-3em;
  }

  .prev_next_buttons {
    color: black;
    margin-top: 0.5em;
  }
  