.hexagon {
    width: 11.5vh;
    height:12.5vh;
    background-color: rgb(255, 166, 0);
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    margin: 0 2px;
    position: relative;
    display: inline-block;
  }

  .hex-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 4vh;
    font-weight: 400;
    color: white;
    cursor: pointer;
    user-select: none;
  }

  .centered {
    position: relative;
    text-align: center;
    margin-top:-3em;
  }


.prev-btn,
.next-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  color: #ffa600;
}

.prev-btn:hover,
.next-btn:hover {
  top: 52%;
}

.prev-btn {
  left: 190px; /* adjust the distance as needed */
}

.next-btn {
  right: 190px; /* adjust the distance as needed */
}
  