/* todo-list.component.css */

.todo-list {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #4d4d4d;
    border-radius: 8px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding-bottom: 4em;
    margin-top: -5em;
  }
  
  h2 {
    font-size: 24px;
    color: #333;
  }
  

  .task-input {
    display: flex;
    align-items: center;
    margin-top: 16px;
  }
  
  input[type="text"] {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    margin-right: 10px;
  }
  
  /* Adjust the button's height to match the input */
  button {
    color: #fff;
    border: none;
    border-radius: 4px;
    width: 40px;
    height: 40px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #c68205;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    display: flex;
    align-items: center;
    margin: 8px 0;
  }
  
  input[type="checkbox"] {
    margin-right: 8px;
  }
  
  .task-name {
    flex: 1;
    font-size: 18px;
    color: #333;
  }
  
  .remove-button {
    background-color: #ff6347;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 6px 12px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .remove-button:hover {
    background-color: #d9534f;
  }

  .checkmark-icon {
    font-size: 24px; /* Adjust the size of the checkmark icon */
    color: #4CAF50; /* Set the color of the completed tasks */
    margin-right: 10px;
  }
  
  /* Style the icon for completed tasks */
  .completed .checkmark-icon {
    color: #4CAF50; /* Change the color for completed tasks */
  }

  .add_todo {
    text-align: center;
    margin-top: 1em;
  }

  .add-button {
    background-color: #ffa600;
    margin-bottom: 1em;

  }

  .back-icon {
    margin-left: -5px;
  }

  .add-icon {
    margin-left: -2px;
  }

  .back-button, .stats-button{
   z-index: 1; 
  }

  .back-button {
    float: left;
  }

  .stats-button {
    float: right;
  }

  .button_row {
    text-align: center;
  }


  