<div class="todo-list">


  <button (click)="backToMainClicked()" mat-icon-button color="primary">
      <mat-icon>arrow_back_ios_new</mat-icon>
  </button>    

  <cw-up-down [week]="week"  (currentWeekEvent)="currentWeekEventReceived($event)"></cw-up-down>
  <todo-list-table-view #todolist [week]="week"></todo-list-table-view>
 
  <div class="error-message" *ngIf="errorMessage">
    {{ errorMessage }}
  </div>
</div>

<div class="add_todo">
  <button (click)="showAddTodoDialog()" mat-fab>
    <mat-icon>add</mat-icon>
  </button>
</div>

