<div class="todo-list">


  <button class="add-button" (click)="backToMainClicked()"  mat-fab>
      <mat-icon class="back-icon">arrow_back_ios_new</mat-icon>
  </button>    

  <cw-up-down [week]="week"  (currentWeekEvent)="currentWeekEventReceived($event)"></cw-up-down>
  <todo-list-table-view #todolist [week]="week"></todo-list-table-view>
 
  <div class="error-message" *ngIf="errorMessage">
    {{ errorMessage }}
  </div>
</div>

<div class="add_todo">
  <button class="add-button" mat-fab (click)="showAddTodoDialog()" mat-fab>
    <mat-icon class="add-icon">add</mat-icon>
  </button>
</div>

