


ion-content {
  --background: rgb(0,0,0);
  --background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(62,62,62,1) 50%, rgba(0,0,0,1) 100%);
  --padding-top:15vh;
 
}


.hex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hex-row {
  display: flex;
  justify-content: center;
  margin-bottom: -1.4vh;
}

.hexagon {
  width: 6.5vh;
  height:7.5vh;
  background-color: rgb(255, 166, 0);
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  margin: 0 2px;
  position: relative;
}

.hexagon:hover {
  transform: scale(1.4); /* Scale the hexagon on hover */
  background-color: rgba(46, 46, 46, 1); /* Change the background color on hover */
  z-index: 1;
}


.hex-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.5vh;
  color: #fff;
  cursor: pointer;
  user-select: none;
}

.currentCalendarWeek {
  background-color: red;
}

.bottom-hexagon {
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 50px;
  height: 58px;
  background-color: #e74c3c;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

h1 {
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-size: 2em;
}