<ion-header [translucent]="true">

</ion-header>

<ion-content [fullscreen]="true">

  <div *ngIf="!showTodoList" id="container">
    <div class="sky">
  
      <div class="hex-grid">
  
        <!-- Generate the first 50 hexagons- 6 in the first row and then 5 in the row below -->
        <div *ngFor="let i of divCountRows">
            <div *ngIf="i % 2 !== 0; else evenLabel" class="hex-row">   
                <div (click)="selectWeek($event)" *ngFor="let a of divCountColumnsTop"  class="hex"><span class="hex-number">{{getWeekNumber()}}</span></div>
            </div>
            <ng-template #evenLabel>
              <div class="hex-row">
                <div (click)="selectWeek($event)" *ngFor="let a of divCountColumnsBottom"  class="hex"><span class="hex-number">{{getWeekNumber()}}</span> </div>
              </div>
            </ng-template>
        </div>
      </div>
    </div>
  </div>
   
  <ion-button *ngIf="showTodoList" (click)="showCalendarWeeks()">Back to Year Overview</ion-button>

  <app-todo-list
    *ngIf="showTodoList"
    [year]="selectedYear"
    [week]="selectedWeek"
  ></app-todo-list>

</ion-content>
