<h1 *ngIf="!showTodoList">Calendar Week Planer</h1> 
<ion-content class="ion-no-padding">
 
    <div *ngIf="!showTodoList" (click)="showAboutPage()" class="bottom-hexagon"><div class="hex-text-about">?!</div></div>

    <div *ngIf="!showTodoList"class="hex-container">
         
        <div class="hex-row">
            <div class="hexagon" [ngClass]="{'currentCalendarWeek': isCurrentCalendarWeek(i)}" *ngFor="let i of [1,2,3,4]" (click)="selectWeek(i)"><div class="hex-text">{{i}}</div></div>
        </div>

        <div class="hex-row">
            <div class="hexagon" [ngClass]="{'currentCalendarWeek': isCurrentCalendarWeek(i)}" *ngFor="let i of [5,6,7,8,9]" (click)="selectWeek(i)"><div class="hex-text">{{i}}</div></div>
        </div>

        <div class="hex-row">
            <div class="hexagon" [ngClass]="{'currentCalendarWeek': isCurrentCalendarWeek(i)}" *ngFor="let i of [10,11,12,13,14,15]" (click)="selectWeek(i)"><div class="hex-text">{{i}}</div></div>
        </div>

        <div class="hex-row">
            <div class="hexagon" [ngClass]="{'currentCalendarWeek': isCurrentCalendarWeek(i)}" *ngFor="let i of [16,17,18,19,20,21,22]" (click)="selectWeek(i)"><div class="hex-text">{{i}}</div></div>
        </div>

        <div class="hex-row">
            <div class="hexagon" [ngClass]="{'currentCalendarWeek': isCurrentCalendarWeek(i)}" *ngFor="let i of [23,24,25,26,27,28,29,30]" (click)="selectWeek(i)"><div class="hex-text">{{i}}</div></div>
        </div>

        <div class="hex-row">
            <div class="hexagon" [ngClass]="{'currentCalendarWeek': isCurrentCalendarWeek(i)}" *ngFor="let i of [31,32,33,34,35,36,37]" (click)="selectWeek(i)"><div class="hex-text">{{i}}</div></div>
        </div>

        <div class="hex-row">
            <div class="hexagon" [ngClass]="{'currentCalendarWeek': isCurrentCalendarWeek(i)}" *ngFor="let i of [38,39,40,41,42,43]" (click)="selectWeek(i)"><div class="hex-text">{{i}}</div></div>
        </div>

        <div class="hex-row">
            <div class="hexagon" [ngClass]="{'currentCalendarWeek': isCurrentCalendarWeek(i)}" *ngFor="let i of [44,45,46,47,48]" (click)="selectWeek(i)"><div class="hex-text">{{i}}</div></div>
        </div>
        <div class="hex-row">
            <div class="hexagon" [ngClass]="{'currentCalendarWeek': isCurrentCalendarWeek(i)}" *ngFor="let i of [49,50,51,52]" (click)="selectWeek(i)"><div class="hex-text">{{i}}</div></div>
        </div>
    </div>

  <app-todo-list
    class="todo-list"
    *ngIf="showTodoList"
    [year]="selectedYear"
    [week]="selectedWeek"
    (messageEvent)="receiveMessage($event)"
  ></app-todo-list>

</ion-content>
